server {
    server_name ${REVERSE_PROXY_HOST};
    listen ${REVERSE_PROXY_PORT};
    
    location / {
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;

        proxy_pass http://${SERVER_HOST}:${SERVER_PORT};
        proxy_http_version 1.1;
    }
}